@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

body {
    overflow: hidden;
    background: #16161677;
}

#chat-widget {
    background-color: transparent;
    border-radius: 5px;
    overflow-y: auto;
    padding: 10px;
    box-sizing: border-box;
}
  
#message-container {
    display: flex;
    flex-direction: column-reverse;
    animation: slideFromBottom 0.5s ease-in-out forwards;
}
  
@keyframes slideFromBottom {
    from {
      opacity: 0;
      transform: translateY(50%);
    }
    
    to {
      opacity: 1;
      transform: translateY(0);
    }
}
  
.message {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    animation: fadeIn 0.5s ease-in-out;
}
  
@keyframes fadeIn {
    from {
      opacity: 0;
    }
    
    to {
      opacity: 1;
    }
}
  
  .avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .text {
    /* background-color: white; */
    /* background: linear-gradient(to right, #f9f9f97e, #ffffff7e);  */
    padding: 10px;
    border-radius: 10px;
    /* word-wrap: break-word; */
    flex-grow: 1;
    font-family: 'Roboto', sans-serif;
    /* text-shadow: 1px 1px 0 #aaa; */
    color:white;
  }
  

.red {
    background: #fd1d1d;
    border: 2px solid #ff2e2e;
}

.green {
    background: #13974f;
    border: 2px solid #187938;
}

.yellow {
    background: #f2f523;
    border: 2px solid #d1c520;
    color: black;
}

.gray {
  color: rgb(82, 82, 82);
  padding-right: 10px;
}